.player-wrapper {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background: #000;
}

.player-wrapper .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.input-range {
    margin: 3rem 0;
}
